/*Checkout.css*/
.checkout{
    background-color: bisque;
    display: flex;
    height: max-content;
    padding: 20px;
}

.checkout--left{
    background-color: white;
}

.checkout--adv{
    width: 100%;
    margin-bottom: 10px;
}

.checkout--title{
    padding: 10px;
    border-bottom: 1px solid black;
}

.checkout--right{
    background-color: aqua;
}

@media (max-width: 844px) { 
    .checkout{
        display: flex;
        flex-direction: column-reverse;
    }
    .checkout--right{
        margin: 0px 0px 20px 0px;
    }
 }

 