
.home-contaier{
    height: 500px;
    width: 100%;
}
.home--img{
    width: 100%;
    z-index: -1;
    margin-bottom: -300px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home--row{
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    flex-wrap: wrap;
}

@media (max-width: 1304px) { 
    .home--img{
        margin-bottom: -200px;
    }
 }
@media (max-width: 612px) { 
    .home--img{
        height: 300px;
        margin-bottom: -200px;

    }
 }