/* Login CSS */
.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login--logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.login--container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.login--container h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login--container h5{
    margin-bottom: 5px;
}
.login--container input{
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
}
.login--container p{
    margin-top: 15px;
    font-size: 12px;
}

.login--signButton{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
}

.login--registerButton{
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
    border-radius: 2px;
    background-color: #f0c14b;
}


@media (max-width: 450px) { 
    .login--container {
        border: 1px solid rgb(114, 114, 114);
        width: 250px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: wheat;
        margin: 0px 10px;
    }
    
    .input{
        width: 240px;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 30px;
    }
 }